.login-button {
    display: flex;
    width: 300px;
    margin: 50px auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(115, 220, 239);
    box-shadow: 3px 3px 5px rgb(77, 169, 230);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.login-button:hover {
    border-bottom: 4px solid white;
  }

.login-button img {
    width: 24px;
    margin-right: 20px;

}

.login-button span {
    font-family: 'bold';
    font-size: 120%;
}